{% extends 'PlentyPluginShowcase::content.NavigationPage' %}

{% block ViewFrame %}

<div class="col-lg-12">
	<div class="categoryView isGridView">
		<ul class="row categoryDetails">

			{% for item in items %}
			<!-- item box -->
			{% set itemLink = url('showcase') ~ '/' ~ item.itemDescription.urlContent ~ '/a-' ~ item.itemDescription.itemId %}
			<li class="col-xs-12 col-sm-4 col-md-3 col-lg-2 itemBox">

				<div class="itemBoxInner">
					<div class="h-lg-2 h-md-3 h-sm-2 h-xs-6">

						<div class="imageBox h-lg-2 h-md-3 h-sm-2 h-xs-6">
							<a data-plenty-href="item-{{item.itemDescription.itemId}}" href="{{itemLink}}">
								<img alt="{{ item.itemDescription.name1 }}" src="{{ image_url_preview(item.variationImageList.0.path) }}" class="center img-responsive" style="display: inline-block;">
							</a>
						</div>

					</div>

					<!-- item info -->
					<a data-plenty-href="item-{{item.itemDescription.itemId}}" href="{{itemLink}}" class="name block">{{ item.itemDescription.name1 }}</a>

					<p class="price bold">
						<span class="large linkToItem">{{ item.variationRetailPrice.price|localizedcurrency('EUR') }}</span>
					</p>

					<!-- ./item info -->
					<div class="visible-hover">
						<div>

								<div class="buttonBox isViewItem">
									<a href="{{itemLink}}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Artikel ansehen</a>
								</div>

						</div>
					</div>

				</div>
			</li>
			<!-- ./item box -->
			{% endfor %}

		</ul>
	</div>
</div>
{% endblock %}
