{% extends 'PlentyPluginShowcase::content.NavigationPage' %}

{% block ViewFrame %}
<div class="container singleItemView" data-plenty-view="singleItem">
	<div class="row">
		<!-- main container -->

		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" itemscope itemtype="http://schema.org/Product">

			<div class="row singleItemDetails">
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<div class="imageBox">
						<div class="img">
							<div class="imgwrapper">
								<a href="{{ image_url(item.variationImageList.0.path) }}" title="{{ item.itemDescription.name1 }}">
									<img src="{{ image_url_middle(item.variationImageList.0.path) }}" class="img-responsive" alt="{{ item.itemDescription.name1 }}" itemprop="image">
								</a>
							</div>
						</div>
					</div>
				</div>

				<!-- item overview -->
				<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
					<h1 class="itemTitle" itemprop="name">{{ item.itemDescription.name1 }}</h1>

					<p class="description margin-top-1">
						{{ item.itemDescription.shortDescription }}
					</p>
					<div class="offerDetailsBox attributeBox margin-top-15">
						<dl class="itemDefList">

							{% if item.itemBase.producer|length %}
								<dt>Hersteller</dt>
								<dd itemprop="brand">{{ item.itemBase.producer }}</dd>
							{% endif %}

						</dl>

						<hr>

						<div class="priceContainer" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

							<span class="price xx-large">{{ item.variationRetailPrice.price|localizedcurrency('EUR') }}</span>

						</div>

					</div>

				</div>
				<!-- ./item overview -->
			</div>

			{% if item.itemDescription.description|length %}
			<div class="row singleItemDetails">
				{{ item.itemDescription.description|raw }}
			</div>
			{% endif %}

		</div>
		<!-- ./main container -->
	</div>
</div>
{% endblock %}
