{% macro printClass( className, namespace, description, methods ) %}

    <h3>
        <code>{{ className }}</code>
        <small>{{ namespace }}</small>
    </h3>

    <p>{{ description }}</p>

    {% for method in methods %}
    <div class="api-doc-method">
        <h4>{{ className }}::{{ method.name }}()</h4>

        <p>{{ method.description }}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

        <pre class="prettyprint lang-hack">{{ method.call | raw }}</pre>

        <div class="api-doc-param-list">
            {% for param in method.params %}
                <div class="api-doc-param">
                    <h5>
                        {{ param.name }}:{{ param.type }}
                        {%  if not param.isMandatory %}
                            <span class="label label-default">optional</span>
                        {% endif %}
                        {% if param.isNullable %}
                            <span class="label label-primary">nullable</span>
                        {% endif %}
                        {% if param.defaultValue is defined %}
                            <small>default: {{ param.defaultValue }}</small>
                        {% endif %}
                    </h5>

                    <p>
                        {{ param.description }}
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endmacro %}