{% macro output(id, tables) %}
    <div class="panel-group" id="{{ id }}" role="tablist" aria-multiselectable="true">
        {% for table in tables %}
        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="{{ id }}_{{ table.name | cssSelector }}_head">
                <h4 class="panel-title">
                    <a
                        role="button"
                        data-toggle="collapse"
                        data-parent="#{{ id }}"
                        href="#{{ id }}_{{ table.name | cssSelector }}_body"
                        aria-expanded="false"
                        aria-controls="{{ id }}_{{ table.name | cssSelector }}_body"
                    >
                        {{ table.name }}
                        <span class="text-muted">
                            {{ table.description }}
                        </span>
                    </a>
                </h4>
            </div>

            <div
                class="panel-collapse collapse"
                id="{{ id }}_{{ table.name | cssSelector }}_body"
                role="tabpanel"
                aria-labelledby="{{ id }}_{{ table.name | cssSelector }}_head"
            >
                <div class="panel-body">
                    {{ include( table.content ) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endmacro %}