{% macro output( captions, navId, navOffsetTop, navOffsetBottom ) %}
<div class="row">
    <div class="col-lg-9 col-md-9">
        {% for label, caption in captions %}
            <div id="{{ label | cssSelector }}">
                {{ include( caption ) }}
            </div>
        {%  endfor %}
    </div>

    <div class="col-lg-3 col-md-3 fixed-right" id="{{ navId | default('sidebar-nav') }}">
        <ul class="nav nav-list">
            {% for label in captions | keys %}
                <li>
                    <a href="#{{ label | cssSelector }}" data-scrollTo="#{{ label | cssSelector }}" data-scrollOffset="70">{{ label }}</a>
                </li>
            {%  endfor %}
            </li>
        </ul>
        <a href="#" data-scrollTo="0">Zurück nach oben</a>
    </div>
</div>
{% endmacro %}