{% macro output(categories, baseURL, maxDepth, urlSuffix) %}
    {% for category in categories %}
        {% if category.plenty_category_level <= maxDepth %}

            {% if category.children is empty %}
                <li{% if category.plenty_category_id == currentCategory.plenty_category_id %} class="active"{% endif %}>
                    <a href="{{ baseURL ~ category.plenty_category_details_name_url ~ '/' }}{{ urlSuffix }}">
                        {{ category.plenty_category_details_name }}
                    </a>
                </li>
            {% else %}
                <li class="dropdown{% if category.plenty_category_id == currentCategory.plenty_category_id %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ category.plenty_category_details_name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{ _self.output( category.children, baseURL ~ category.plenty_category_details_name_url ~ '/', maxDepth, urlSuffix ) }}
                    </ul>
                </li>
            {% endif %}

        {% endif %}
    {% endfor %}
{% endmacro %}